{% extends '../base.html' %}

{% block content %}
	{% include '../sections/header.html' %}

	{% include '../sections/features2.html' %}
	{% include '../sections/features.html' %}
	{% include '../sections/cta.html' %}
	{% include '../sections/customers.html' %}
	{% include '../sections/top.html' %}
	{% include '../sections/top_cards.html' %}
	{% include '../sections/team.html' %}
	{% include '../sections/precontact.html' %}
	{% include '../sections/contact.html' %}
	{% include '../sections/postcontact.html' %}

	{% include '../sections/footer.html' %}
{% endblock %}