node_modules
dev
*/public/hot
*/public/storage
*/storage/*.key
*/vendor
starter-laravel/vendor
*.idea
*/.idea
*/.vagrant
*Homestead.json
*Homestead.yaml
*npm-debug.log
*yarn-error.log
*.phpunit.result.cache
*.pyc
*.psd
starter-react/material-kit/build