<!DOCTYPE HTML>
<html>
	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="shortcut icon" type="image/x-icon" href="{{root}}/images/favicon.png"/>

		<title>{{seo-title}} @AppSeed.us</title>
		<meta name="description" content="{{seo-desc}}">
		<meta name="keywords" content="{{seo-keys}}">

		<link rel="stylesheet" href="{{root}}assets/css/main.css" />
		<noscript>
			<link rel="stylesheet" href="{{root}}assets/css/noscript.css" />
		</noscript>

	</head>
	<body class="is-preload">
							
		{{> body}}

		{{> footer}}

		{{> scripts}}

	</body>
</html>