<!-- BEGIN AppSeed Component -->
<div id="appseed_component">

<section class="section section-lg pt-0">
<div class="container">
    <div class="card bg-gradient-warning shadow-lg border-0">
    <div class="p-5">
        <div class="row align-items-center">
        <div class="col-lg-8">
            <h3 class="text-white">We made website building easier for you.</h3>
            <p class="lead text-white mt-3">I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture.</p>
        </div>
        <div class="col-lg-3 ml-lg-auto">
            <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-lg btn-block btn-white">Download HTML</a>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

</div><!-- END AppSeed Component -->