<!-- BEGIN AppSeed Component -->
<div id="appseed_component">

<div class="page-header page-header-small">
 <div class="page-header-image" data-parallax="true" style="background-image: url('https://www.now-ui-kit.appseed.us/assets/img/bg6.jpg');">
 </div>
 <div class="content-center">
  <div class="container">
   <h1 class="title">
    {{top_var_1}}
   </h1>
   <div class="text-center">
    <a class="btn btn-primary btn-icon btn-round" href="#pablo">
     <i class="fab fa-facebook-square">
     </i>
    </a>
    <a class="btn btn-primary btn-icon btn-round" href="#pablo">
     <i class="fab fa-twitter">
     </i>
    </a>
    <a class="btn btn-primary btn-icon btn-round" href="#pablo">
     <i class="fab fa-google-plus">
     </i>
    </a>
   </div>
  </div>
 </div>
</div>


</div><!-- END AppSeed Component -->