<!-- BEGIN AppSeed Component -->
<div id="appseed_component">

<div class="section">
 <div class="container">
  <div class="button-container">
   <a class="btn btn-primary btn-round btn-lg" href="#button">
    {{profile_var_1}}
   </a>
   <a class="btn btn-default btn-round btn-lg btn-icon" href="#button" rel="tooltip" title="Follow me on Twitter">
    <i class="fab fa-twitter">
    </i>
   </a>
   <a class="btn btn-default btn-round btn-lg btn-icon" href="#button" rel="tooltip" title="Follow me on Instagram">
    <i class="fab fa-instagram">
    </i>
   </a>
  </div>
  <h3 class="title">
   {{profile_var_2}}
  </h3>
  <h5 class="description">
   {{profile_var_3}}
  </h5>
  <div class="row">
   <div class="col-md-6 ml-auto mr-auto">
    <h4 class="title text-center">
     {{profile_var_4}}
    </h4>
    <div class="nav-align-center">
     <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons" role="tablist">
      <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">
        <i class="now-ui-icons design_image">
        </i>
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
        <i class="now-ui-icons location_world">
        </i>
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">
        <i class="now-ui-icons sport_user-run">
        </i>
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div class="tab-content gallery">
    <div class="tab-pane active" id="home" role="tabpanel">
     <div class="col-md-10 ml-auto mr-auto">
      <div class="row collections">
       <div class="col-md-6">
        <img alt="" class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg1.jpg"/>
        <img alt="" class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg3.jpg"/>
       </div>
       <div class="col-md-6">
        <img alt="" class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg8.jpg"/>
        <img alt="" class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg7.jpg"/>
       </div>
      </div>
     </div>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel">
     <div class="col-md-10 ml-auto mr-auto">
      <div class="row collections">
       <div class="col-md-6">
        <img class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg6.jpg"/>
        <img alt="" class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg11.jpg"/>
       </div>
       <div class="col-md-6">
        <img alt="" class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg7.jpg"/>
        <img alt="" class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg8.jpg"/>
       </div>
      </div>
     </div>
    </div>
    <div class="tab-pane" id="messages" role="tabpanel">
     <div class="col-md-10 ml-auto mr-auto">
      <div class="row collections">
       <div class="col-md-6">
        <img alt="" class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg3.jpg"/>
        <img alt="" class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg8.jpg"/>
       </div>
       <div class="col-md-6">
        <img alt="" class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg7.jpg"/>
        <img class="img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/bg6.jpg"/>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>


</div><!-- END AppSeed Component -->