<!-- BEGIN AppSeed Component -->
<div id="appseed_component">

<div class="section section-contact-us text-center">
 <div class="container">
  <h2 class="title">
   {{contact_var_1}}
  </h2>
  <p class="description">
   {{contact_var_2}}
  </p>
  <div class="row">
   <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
    <div class="input-group input-lg">
     <div class="input-group-prepend">
      <span class="input-group-text">
       <i class="now-ui-icons users_circle-08">
       </i>
      </span>
     </div>
     <input class="form-control" placeholder="First Name..." type="text"/>
    </div>
    <div class="input-group input-lg">
     <div class="input-group-prepend">
      <span class="input-group-text">
       <i class="now-ui-icons ui-1_email-85">
       </i>
      </span>
     </div>
     <input class="form-control" placeholder="Email..." type="text"/>
    </div>
    <div class="textarea-container">
     <textarea class="form-control" cols="80" name="name" placeholder="Type a message..." rows="4"></textarea>
    </div>
    <div class="send-button">
     <a class="btn btn-primary btn-round btn-block btn-lg" href="#pablo">
      {{contact_var_3}}
     </a>
    </div>
   </div>
  </div>
 </div>
</div>


</div><!-- END AppSeed Component -->