<!DOCTYPE html>
<html>

<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{data.seo-title}}</title>
		<meta name="description" content="{{data.seo-desc}}">
		<meta name="keywords" content="{{data.seo-keys}}">

    <link rel="shortcut icon" href="https://bulma.style/travel/images/fav_icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="https://bulma.style/travel/">
                            <img src="assets/images/logo.png" 
                                 alt="Logo for BulmaLanding - App Built with Bulma CSS.">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a href="index.html#">
                                   About
                                </a>
                            </span>
                             <span class="navbar-item">
                                <a href="index.html#">
                                    Contact
                                </a>
                            </span>
                             <span class="navbar-item">
                                <a href="index.html#">
                                   <span class="icon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-10 is-offset-1">
                        <h1 class="title">
                            LANDING. <span class="is-orange-font">Built with Bulma CSS</span>
                        </h1>
                        <p class="subtitle">
                           Free JAMStack Web App generated with Panini Static Generator
                        </p>
                        <a class="button is-primary" href="{{data.links.buy}}">Get Code</a>
                    </div>
                </div>
            </div>

    </section>
    <section class="sectiontwo">
    	<div class="container box-shadow">
        	<div class="column is-10 is-offset-1">
              <h2 class="subtitle has-text-centered">
                  Request Quote
              </h2>
        			<div class="field is-horizontal">
  <div class="control">
    <input class="input" type="text" placeholder="Name">
  </div>
   <div class="control">
    <input class="input" type="text" placeholder="eMail">
  </div>
   <div class="control">
    <input class="input" type="text" placeholder="Project Name">
  </div>
  <div class="control">
    <input class="input" type="text" placeholder="Budget">
  </div>
   <div class="control">
    <button class="button is-orange">Submit</button>
  </div>
</div>
            </div>
        </div>
    </section>
    <section class="sectionthree">
    	<div class="container has-text-centered">
        <div class="column is-8 is-offset-2">
        	  <h3 class="title">
            	App Features
            </h3>
             <p>
                Clean layout, Bulma CSS, Tooling: Gulp, SaaS, FTP deploy script. License: MIT
            </p>
        </div>
      </div>
      <div class="container">
        <div class="columns">
        	<div class="column is-4">
            		<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/images/service1.png" alt="Placeholder image">    </figure>
    <div class="tour-caption">
    	<div class="vertical-align is-orange">
        	50%<br> OFF
        </div>
        <div class="vertical-bottom">
        <div class="rate">
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
                                </div>
					  	 	  <div class="date">
                              <p>7days<span> 12 Hrs</span> 20min</p>
                              </div>
        </div>
    </div>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="subtitle is-4">Beautiful Design</p>
      </div>
    </div>

    <div class="content">
      Powered by Bulma CSS
    </div>
    <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Start From <br>
        <span>$299</span>
      </span>
    </p>
    <p class="card-footer-item">
     <a class="button is-primary" href="{{data.link.buy}}">Get Code</a>
    </p>
  </footer>
  </div>
</div>
            </div>
            <div class="column is-4">
            	<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/images/service2.png" alt="Placeholder image">    </figure>
    <div class="tour-caption">
    	<div class="vertical-align is-orange center">
        	50%<br> OFF
        </div>
        <div class="vertical-bottom">
        <div class="rate">
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
                                </div>
					  	 	  <div class="date">
                               <p>7days<span> 12 Hrs</span> 20min</p>
                              </div>
        </div>
    </div>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="subtitle is-4">Blazing Fast. And Free</p>
      </div>
    </div>

    <div class="content">
       Generated by Panini Static Generator
    </div>
    <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Start From <br>
        <span>$299</span>
      </span>
    </p>
    <p class="card-footer-item">
     <a class="button is-success" href="{{data.link.buy}}">Get Code</a>
    </p>
  </footer>
  </div>
</div>
            </div>
            <div class="column is-4">
            	<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/images/service3.png" alt="Placeholder image">    </figure>
    <div class="tour-caption">
    	<div class="vertical-align is-orange">
        	50%<br> OFF
        </div>
        <div class="vertical-bottom">
        <div class="rate">
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
					  	 	  	<span class="fa fa-star is-orange-font"></span>
                                </div>
					  	 	  <div class="date">
                               <p>7days<span> 12 Hrs</span> 20min</p>
                              </div>
        </div>
    </div>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="subtitle is-4">Tooling</p>
      </div>
    </div>

    <div class="content">
       Gulp, SaaS, Hot Reload, FTP Deploy Script      
    </div>
    <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Start From <br>
        <span>$299</span>
      </span>
    </p>
    <p class="card-footer-item">
     <a class="button is-danger" href="{{data.link.buy}}">Get Code</a>
    </p>
  </footer>
  </div>
</div>
</div>
            </div>
        </div>
    </section>
    <section class="sectionfour">
    		<div class="container has-text-centered">
          <div class="column is-8 is-offset-2">
            <h2 class="title">
              Our Clients
            </h2>
              <p>
                We have clients all over the world and more than 10 years experience in the market.
            </p>
          </div>
        </div>
         <div class="container">
        <div class="columns">
        	<div class="column is-6">
            	<div class="map">
                	<img src="assets/images/map.png" alt="" />
                </div>
            </div>
            <div class="column is-6">
                	<div class="columns">
                    	<div class="column is-4">
                        	<div class="destination">
                            	<h4>ASIA</h4>
                                <ul>
                                	<li>Aenean</li>
                                    <li>Etiam</li>
                                    <li>Donec</li>
                                </ul>
                                
                                <h4>AFRICA</h4>
                                <ul>
                                	<li>AFRICA</li>
                                    <li>Duis Eu</li>
                                    <li>Morbi Nisl</li>
                                    <li>Curabitur</li>
                                </ul>
                            </div>
                        </div>
                        <div class="column is-4">
                        	<div class="destination">
                            	<h4>EUROPE</h4>
                                <ul>
                                	<li>Maecenas</li>
                                    <li>Cras Sagittis</li>
                                    <li>Vestibulum</li>
                                </ul>
                                
                                <h4>AUSTRALIA</h4>
                                <ul>
                                	<li>Vivamus</li>
                                    <li>Nibh Odio</li>
                                    <li>Dictum</li>
                                </ul>
                            </div>
                        </div>
                        <div class="column is-4">
                        	<div class="destination">
                            	<h4>AMERICA</h4>
                                <ul>
                                	<li>Morbi Sed</li>
                                    <li>Pellentesque</li>
                                    <li>Proin</li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <div class="columns">  
                    	<div class="column">   	
     					<a class="button is-orange" href="{{data.links.buy}}">Read More</a>
                        	</div>
                    </div>
            </div>
            </div>
            </div>
    </section>
    <section class="sectionfive">
    	<div class="container has-text-centered">
        <div class="column is-8 is-offset-2">
        	<h2 class="title">
            	OUR PACKAGES
            </h2>
             <p>
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        </p>
                        </div>
        </div>
        <div class="container">
        		
        <div class="columns">
        	<div class="column is-4">
            		<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/images/d1.png" alt="Placeholder image">    </figure>
    <div class="tour-caption">
    	<div class="verticall-align is-orange">
        	<a href="index.html">Lorem Ipsum is simply</a>
        </div>
    </div>
  </div>
</div>
            </div>
            <div class="column is-4">
            	<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/images/d2.png" alt="Placeholder image">    </figure>
    <div class="tour-caption">
    	<div class="verticall-align is-orange center">
        	<a href="index.html">Lorem Ipsum is simply</a>
        </div>
        
    </div>
  </div>
</div>
            </div>
            <div class="column is-4">
            	<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/images/d3.png" alt="Placeholder image">    </figure>
    <div class="tour-caption">
    	<div class="verticall-align is-orange">
        	<a href="index.html">Lorem Ipsum is simply</a>
        </div>
        
    </div>
  </div>
</div>
</div>

            </div>
        <div class="columns">
        	<div class="column is-4">
            		<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/images/d4.png" alt="Placeholder image">    </figure>
    <div class="tour-caption">
    	<div class="verticall-align is-orange">
        	<a href="index.html">Lorem Ipsum is simply</a>
        </div>
    </div>
  </div>
</div>
            </div>
            <div class="column is-4">
            	<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/images/d5.png" alt="Placeholder image">    </figure>
    <div class="tour-caption">
    	<div class="verticall-align is-orange center">
        	<a href="index.html">Lorem Ipsum is simply</a>
        </div>
        
    </div>
  </div>
</div>
            </div>
            <div class="column is-4">
            	<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/images/d6.png" alt="Placeholder image">    </figure>
    <div class="tour-caption">
    	<div class="verticall-align is-orange">
        	<a href="index.html">Lorem Ipsum is simply</a>
        </div>
        
    </div>
  </div>
</div>
</div>

            </div>
        </div>
    </section>
    <section class="sectionsix">
    		<div class="container">
            	<div class="columns">
                	<div class="column is-12">
                    	<nav class="level">
  <div class="level-item has-text-centered">
  <img src="assets/images/icon-map.png" alt="" />
    <div>
     <p class="title is-orange-font">179</p>
      <p class="heading has-text-white">DESTINATIONS</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
   <img src="assets/images/icon-box.png" alt="" />
    <div>
    <p class="title is-orange-font">48</p>
      <p class="heading has-text-white">TOUR PACK</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
  <img src="assets/images/icon-smile.png" alt="" />
    <div>
    <p class="title is-orange-font">483</p>
      <p class="heading has-text-white">HAPPY CLIENTS</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
   <img src="assets/images/icon-phone.png" alt="" />
    <div>
      <p class="title is-orange-font">483</p>
      <p class="heading has-text-white">HOURS SUPPORT</p>
    </div>
  </div>
</nav>
                    </div>
                    
                </div>
            </div>
    </section>
    <section class="sectionseven">
    	<div class="container">
            	<div class="columns">
                	<div class="column is-4">
                    	<div class="widgets">
                        	<h4>BulmaLanding</h4>
                            <p>
                              Built your next web app with Bulma CSS.                             
                            </p>
                            <ul>
                            	<li><b>A :</b>&nbsp; US, The White House </li>
                              <li><b>P :</b>&nbsp; +44.123  .123.123</li>
                              <li><b>E :</b>&nbsp; support [ @ ] appseed.us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="column is-4">
                    <div class="widgets">
                        	<h4>Gallery</h4>
                            <ul class="gallery">
                            	<li><img src="assets/images/g1.png" align="" /></li>
                              <li><img src="assets/images/g2.png" align="" /></li>
                              <li><img src="assets/images/g3.png" align="" /></li>
                              <li><img src="assets/images/g4.png" align="" /></li>
                              <li><img src="assets/images/g5.png" align="" /></li>
                              <li><img src="assets/images/g6.png" align="" /></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column is-4">
                    	<div class="widgets">
                        	<h4>Newsletter</h4>
                            <p>
                              Stay in touch with us. No spam, we promise!  
                            </p>
                            <div class="field is-grouped">
  <p class="control is-expanded">
    <input class="input" type="text" placeholder="Enter your Email">
  </p>
  <p class="control">
    <a href="{{data.links.buy}}" class="button is-orange">
      Submit
    </a>
  </p>
</div>
<ul class="sociallist">
  	<li><a href="{{data.links.facebook}}"><span class="fa fa-facebook has-text-link"></span></a></li>
    <li><a href="{{data.links.twitter}}"><span class="fa fa-twitter has-text-info"></span></a></li>
</ul>
                        </div>
                    </div>
                    </div>
                    </div>
    </section>
    <footer>
    	<div class="container">
        	<div class="columns">
            `<div class="column is-6">
            	<p>
                <a href="{{data.links.buy}}">BulmaLanding</a> - JAMStack Web App built with Bulma CSS
              </p>
            </div>
            `<div class="column is-6">
              	<ul class="footermenu">
                    <li><a target="_blank" href="{{data.links.appseed}}">AppSeed</a></li>
                    <li><a target="_blank" href="{{data.links.blog}}">Blog</a></li>
                </ul>
              </div>
            </div>
        </div>
    </footer>
    <script async type="text/javascript" src="assets/js/app.js"></script>
<script>
  $(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});
</script>
</body>

</html>
