<!-- BEGIN AppSeed Component -->
<div id="appseed_component">

<div class="section section-team text-center">
 <div class="container">
  <h2 class="title">
   Here is our team
  </h2>
  <div class="team">
   <div class="row">
    <div class="col-md-4">
     <div class="team-player">
      <img alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/avatar.jpg"/>
      <h4 class="title">
       Romina Hadid
      </h4>
      <p class="category text-primary">
       Model
      </p>
      <p class="description">
       You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
       <a href="#">
        links
       </a>
       for people to be able to follow them outside the site.
      </p>
      <a class="btn btn-primary btn-icon btn-round" href="#pablo">
       <i class="fab fa-twitter">
       </i>
      </a>
      <a class="btn btn-primary btn-icon btn-round" href="#pablo">
       <i class="fab fa-instagram">
       </i>
      </a>
      <a class="btn btn-primary btn-icon btn-round" href="#pablo">
       <i class="fab fa-facebook-square">
       </i>
      </a>
     </div>
    </div>
    <div class="col-md-4">
     <div class="team-player">
      <img alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/ryan.jpg"/>
      <h4 class="title">
       Ryan Tompson
      </h4>
      <p class="category text-primary">
       Designer
      </p>
      <p class="description">
       You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
       <a href="#">
        links
       </a>
       for people to be able to follow them outside the site.
      </p>
      <a class="btn btn-primary btn-icon btn-round" href="#pablo">
       <i class="fab fa-twitter">
       </i>
      </a>
      <a class="btn btn-primary btn-icon btn-round" href="#pablo">
       <i class="fab fa-linkedin">
       </i>
      </a>
     </div>
    </div>
    <div class="col-md-4">
     <div class="team-player">
      <img alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" src="https://www.now-ui-kit.appseed.us/assets/img/eva.jpg"/>
      <h4 class="title">
       Eva Jenner
      </h4>
      <p class="category text-primary">
       Fashion
      </p>
      <p class="description">
       You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
       <a href="#">
        links
       </a>
       for people to be able to follow them outside the site.
      </p>
      <a class="btn btn-primary btn-icon btn-round" href="#pablo">
       <i class="fab fa-google-plus">
       </i>
      </a>
      <a class="btn btn-primary btn-icon btn-round" href="#pablo">
       <i class="fab fa-youtube">
       </i>
      </a>
      <a class="btn btn-primary btn-icon btn-round" href="#pablo">
       <i class="fab fa-twitter">
       </i>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>


</div><!-- END AppSeed Component -->