<!-- BEGIN AppSeed Component -->
<div id="appseed_component">

<div class="page-header clear-filter" filter-color="orange">
 <div class="page-header-image" style="background-image:url('https://www.now-ui-kit.appseed.us/assets/img/login.jpg')">
 </div>
 <div class="content">
  <div class="container">
   <div class="col-md-4 ml-auto mr-auto">
    <div class="card card-login card-plain">
     <form action="" class="form" method="">
      <div class="card-header text-center">
       <div class="logo-container">
        <img alt="" src="https://www.now-ui-kit.appseed.us/assets/img/now-logo.png"/>
       </div>
      </div>
      <div class="card-body">
       <div class="input-group no-border input-lg">
        <div class="input-group-prepend">
         <span class="input-group-text">
          <i class="now-ui-icons users_circle-08">
          </i>
         </span>
        </div>
        <input class="form-control" placeholder="First Name..." type="text"/>
       </div>
       <div class="input-group no-border input-lg">
        <div class="input-group-prepend">
         <span class="input-group-text">
          <i class="now-ui-icons text_caps-small">
          </i>
         </span>
        </div>
        <input class="form-control" placeholder="Last Name..." type="text"/>
       </div>
      </div>
      <div class="card-footer text-center">
       <a class="btn btn-primary btn-round btn-lg btn-block" href="#pablo">
        Get Started
       </a>
       <div class="pull-left">
        <h6>
         <a class="link" href="#pablo">
          Create Account
         </a>
        </h6>
       </div>
       <div class="pull-right">
        <h6>
         <a class="link" href="#pablo">
          Need Help?
         </a>
        </h6>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>
 </div>
</div>


</div><!-- END AppSeed Component -->