<header class="site-header">
 <div class="site-branding" parser_dataid="1">
  <h1 class="site-title" parser_dataid="2">
   <a href="__LINK_HOME__" parser_dataid="3" rel="home">
    <img alt="Logo" parser_dataid="4" src="/assets/img/logo.png"/>
   </a>
  </h1>
 </div>
 <div class="hamburger-menu" parser_dataid="5">
  <div class="menu-icon" parser_dataid="6">
   <img alt="menu icon" parser_dataid="7" src="/assets/img/menu-icon.png"/>
  </div>
  <div class="menu-close-icon" parser_dataid="8">
   <img alt="menu close icon" parser_dataid="9" src="/assets/img/x.png"/>
  </div>
 </div>
</header>
