<div id="appseed_component" parser_dataid="2">
 <section class="section section-lg">
  <div class="container">
   <div class="row row-grid justify-content-center">
    <div class="col-lg-8 text-center">
     <h2 class="display-3">
      Do you love this awesome
      <span class="text-success">
       {{cta2_var_1}}
      </span>
     </h2>
     <p class="lead">
      {{cta2_var_2}}
     </p>
     <div class="btn-wrapper">
      <a class="btn btn-primary mb-3 mb-sm-0" href="https://www.creative-tim.com/product/argon-design-system">
       {{cta2_var_3}}
      </a>
     </div>
     <div class="text-center">
      <h4 class="display-4 mb-5 mt-5">
       {{cta2_var_4}}
      </h4>
      <div class="row justify-content-center">
       <div class="col-lg-2 col-4">
        <a data-original-title="Bootstrap 4 - Most popular front-end component library" data-toggle="tooltip" href="https://www.creative-tim.com/product/argon-design-system" target="_blank">
         <img class="img-fluid" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/bootstrap.jpg"/>
        </a>
       </div>
       <div class="col-lg-2 col-4">
        <a data-original-title="Vue.js - The progressive javascript framework" data-toggle="tooltip" href=" https://www.creative-tim.com/product/vue-argon-design-system" target="_blank">
         <img class="img-fluid" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/vue.jpg"/>
        </a>
       </div>
       <div class="col-lg-2 col-4">
        <a data-original-title="[Coming Soon] Sketch - Digital design toolkit" data-toggle="tooltip" href=" https://www.sketchapp.com/" target="_blank">
         <img class="img-fluid opacity-3" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg"/>
        </a>
       </div>
       <div class="col-lg-2 col-4">
        <a data-original-title="[Coming Soon] Adobe Photoshop - Software for digital images manipulation" data-toggle="tooltip" href=" https://www.adobe.com/products/photoshop.html" target="_blank">
         <img class="img-fluid opacity-3" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg"/>
        </a>
       </div>
       <div class="col-lg-2 col-4">
        <a data-original-title="[Coming Soon] Angular - One framework. Mobile &amp; desktop" data-toggle="tooltip" href=" https://angularjs.org/" target="_blank">
         <img class="img-fluid opacity-3" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg"/>
        </a>
       </div>
       <div class="col-lg-2 col-4">
        <a data-original-title="[Coming Soon] React - A JavaScript library for building user interfaces" data-toggle="tooltip" href=" https://angularjs.org/" target="_blank">
         <img class="img-fluid opacity-3" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg"/>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </section>
</div>
