* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font: 400px 16px/1.428 Consolas;
  }
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .box {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .topBar {
    height: 400px;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    right: 0;
    left: 0;
    border-bottom: 1px solid gray;
    font-size: 1.25rem;
    text-align: center;
  }
  .frame {
    height: calc(100% - 400px);
    width: 100%;
    position: absolute;
    top: 400px;
    left: 0;
    /*
    border-top: 3px solid blue;
    */
    overflow-x: hidden;
    overflow-y: scroll;
  }
